<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">
    <contextName>logback</contextName>
    <include resource="tech/fullink/credit/log/base-spring.xml"/>
    <property name="BASE_LOG_PATH" value="/Users/crow/Documents/data/appLogs/${SERVER_NAME}"/>
    <include resource="tech/fullink/credit/log/defaults-spring.xml"/>
</configuration>